<!DOCTYPE web-app>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
     version="2.4">
     
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>com.samsoum.newro.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStagiaireServlet</servlet-name>
  	<display-name>AddStagiaireServlet</display-name>
  	<description></description>
  	<servlet-class>com.samsoum.newro.servlet.AddStagiaireServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditStagiaireServlet</servlet-name>
  	<display-name>EditStagiaireServlet</display-name>
  	<description></description>
  	<servlet-class>com.samsoum.newro.servlet.EditStagiaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStagiaireServlet</servlet-name>
  	<url-pattern>/addStagiaire</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditStagiaireServlet</servlet-name>
  	<url-pattern>/editStagiaire</url-pattern>
  </servlet-mapping>
</web-app>